:root {
    --spark-color-transparent: transparent;
    --spark-color-theme-light-gray50: #ffffff;
    --spark-color-theme-light-gray75: #f9f9f9;
    --spark-color-theme-light-gray100: #f4f5f5;
    --spark-color-theme-light-gray200: #e9eaeb;
    --spark-color-theme-light-gray300: #e2e2e4;
    --spark-color-theme-light-gray400: #c9cace;
    --spark-color-theme-light-gray500: #b2b3b9;
    --spark-color-theme-light-gray600: #8b8e97;
    --spark-color-theme-light-gray700: #6a6d75;
    --spark-color-theme-light-gray800: #494b51;
    --spark-color-theme-light-gray900: #2b2c30;
    --spark-color-theme-dark-gray50: #242528;
    --spark-color-theme-dark-gray75: #2e2f32;
    --spark-color-theme-dark-gray100: #313236;
    --spark-color-theme-dark-gray200: #3c3e42;
    --spark-color-theme-dark-gray300: #484a50;
    --spark-color-theme-dark-gray400: #585a62;
    --spark-color-theme-dark-gray500: #6b6e76;
    --spark-color-theme-dark-gray600: #8e9099;
    --spark-color-theme-dark-gray700: #b7b9be;
    --spark-color-theme-dark-gray800: #e3e3e5;
    --spark-color-theme-dark-gray900: #ffffff;
    --spark-color-classic-blue-tint2: #6cc4f5;
    --spark-color-classic-blue-tint1: #0099ec;
    --spark-color-classic-blue: #0054ae;
    --spark-color-classic-blue-shade1: #00377c;
    --spark-color-classic-blue-shade2: #001e50;
    --spark-color-energy-blue-tint2: #a0ebff;
    --spark-color-energy-blue-tint1: #6ddcff;
    --spark-color-energy-blue: #00c7fd;
    --spark-color-energy-blue-shade1: #0095ca;
    --spark-color-energy-blue-shade2: #005b85;
    --spark-color-carbon-tint2: #e9e9e9;
    --spark-color-carbon-tint1: #aeaeae;
    --spark-color-carbon: #808080;
    --spark-color-carbon-shade1: #525252;
    --spark-color-carbon-shade2: #262626;
    --spark-color-blue-steel-tint2: #b9d6e5;
    --spark-color-blue-steel-tint1: #86b3ca;
    --spark-color-blue-steel: #548fad;
    --spark-color-blue-steel-shade1: #41728a;
    --spark-color-blue-steel-shade2: #183544;
    --spark-color-geode-tint2: #eec3f7;
    --spark-color-geode-tint1: #cc94da;
    --spark-color-geode: #8f5da2;
    --spark-color-geode-shade1: #653171;
    --spark-color-moss-tint2: #d7f3a2;
    --spark-color-moss-tint1: #b1d272;
    --spark-color-moss: #8bae46;
    --spark-color-moss-shade1: #708541;
    --spark-color-moss-shade2: #515a3d;
    --spark-color-rust-tint2: #ffc599;
    --spark-color-rust-tint1: #ff8f51;
    --spark-color-rust: #e96115;
    --spark-color-rust-shade1: #b24501;
    --spark-color-cobalt-tint2: #98a1ff;
    --spark-color-cobalt-tint1: #5b69ff;
    --spark-color-cobalt: #1e2eb8;
    --spark-color-cobalt-shade1: #000f8a;
    --spark-color-cobalt-shade2: #000864;
    --spark-color-cobalt-shade3: #040e35;
    --spark-color-coral-tint2: #ffb6b9;
    --spark-color-coral-tint1: #ff848a;
    --spark-color-coral: #ff5662;
    --spark-color-coral-shade1: #c81326;
    --spark-color-daisy-tint1: #ffe17a;
    --spark-color-daisy: #fec91b;
    --spark-color-daisy-shade1: #edb200;
    --spark-color-daisy-shade2: #c98f00;
    --spark-color-white: #ffffff;
    --spark-color-black: #000000;
    --spark-color-digital-classic-blue: #0046cb;
    --spark-color-electric-moss: #9fd541;
    --spark-color-electric-daisy: #ffe500;
    --spark-color-electric-rust: #fe8022;
    --spark-color-electric-coral: #fe5a80;
    --spark-color-electric-geode: #a923f1;
    --spark-color-electric-cobalt: #1e1eff;
    --spark-color-electric-aqua: #16cfb1;
    --spark-color-electric-cosmos: #7000ff;
    --spark-color-classic-blue-shade1-5: #002567;
    --spark-color-classic-blue-shade3: #030f26;
    --spark-color-energy-blue-shade3: #005b85;
    --spark-color-cobalt-shade4: #040b24;
    --spark-color-cobalt-shade5: #020316;
    --spark-color-aqua-tint2: #a2f6e8;
    --spark-color-aqua-tint1: #5be3cd;
    --spark-color-aqua: #16cfb1;
    --spark-color-aqua-shade1: #0f9b8f;
    --spark-color-aqua-shade1-5: #09857c;
    --spark-color-aqua-shade2: #08746e;
    --spark-color-aqua-shade3: #065955;
    --spark-color-aqua-shade4: #044845;
    --spark-color-cosmos-tint2: #af98ff;
    --spark-color-cosmos-tint1: #8b50ff;
    --spark-color-cosmos: var(--spark-color-electric-cosmos);
    --spark-color-cosmos-shade1: #5400c0;
    --spark-color-cosmos-shade2: #38007f;
    --spark-color-tb-theme-light-gray50: #ffffff;
    --spark-color-tb-theme-light-gray75: #f7f7f8;
    --spark-color-tb-theme-light-gray100: #f1f1f3;
    --spark-color-tb-theme-light-gray200: #e7e7eb;
    --spark-color-tb-theme-light-gray300: #dcdce3;
    --spark-color-tb-theme-light-gray400: #bec0cb;
    --spark-color-tb-theme-light-gray500: #acaebc;
    --spark-color-tb-theme-light-gray600: #82879b;
    --spark-color-tb-theme-light-gray700: #676d84;
    --spark-color-tb-theme-light-gray800: #383e56;
    --spark-color-tb-theme-light-gray900: #1c223b;
    --spark-color-tb-theme-dark-gray50: #020316;
    --spark-color-tb-theme-dark-gray75: #070c21;
    --spark-color-tb-theme-dark-gray100: #0d132b;
    --spark-color-tb-theme-dark-gray200: #1c223b;
    --spark-color-tb-theme-dark-gray300: #383e56;
    --spark-color-tb-theme-dark-gray400: #555b72;
    --spark-color-tb-theme-dark-gray500: #676d84;
    --spark-color-tb-theme-dark-gray600: #82879b;
    --spark-color-tb-theme-dark-gray700: #acaebc;
    --spark-color-tb-theme-dark-gray800: #e7e7eb;
    --spark-color-tb-theme-dark-gray900: #ffffff;
    --spark-color-bright-gradient-aqua-cobalt: linear-gradient(
        var(--spark-color-gradient-degree, 45deg),
        #16cfb1,
        #040e35
    );
    --spark-color-bright-gradient-aqua-cosmos: linear-gradient(
        var(--spark-color-gradient-degree, 45deg),
        #16cfb1,
        #057aff,
        #5400c0
    );
    --spark-color-deep-ambient-gradient-cosmos-classic-blue-shade1-5: linear-gradient(
        var(--spark-color-gradient-degree, 180deg),
        #002567,
        #7000ff
    );
    --spark-color-deep-ambient-gradient-cosmos-cobalt-shade3: linear-gradient(
        var(--spark-color-gradient-degree, 180deg),
        #040e35,
        #7000ff
    );
    --spark-color-deep-ambient-gradient-cosmos-shade2-cobalt-shade3: linear-gradient(
        var(--spark-color-gradient-degree, 180deg),
        #040e35,
        #38007f
    );
    --spark-color-aqua-gradient-aqua-tint2-white: linear-gradient(
        var(--spark-color-gradient-degree, 180deg),
        #a2f6e8,
        #c6faf1,
        #ffffff
    );
    --spark-color-aqua-gradient-aqua-white: linear-gradient(
        var(--spark-color-gradient-degree, 180deg),
        #16cfb1,
        #b7f0e7,
        #ffffff
    );
    --spark-color-aqua-gradient-aqua-blue: linear-gradient(
        var(--spark-color-gradient-degree, 45deg),
        #020e37,
        #0054ae,
        #00d2af
    );
    --spark-color-cosmos-gradient-cosmos-tint1-white: linear-gradient(
        var(--spark-color-gradient-degree, 180deg),
        #8b50ff,
        #cbb0ff,
        #ffffff
    );
    --spark-color-cosmos-gradient-cosmos-tint1-aqua: linear-gradient(
        var(--spark-color-gradient-degree, 180deg),
        #8b50ff,
        #057aff,
        #16cfb1
    );
    --spark-color-cosmos-gradient-cosmos-white: linear-gradient(
        var(--spark-color-gradient-degree, 180deg),
        #7000ff,
        #9848ff,
        #d1adff,
        #ffffff
    );
    --spark-color-cosmos-gradient-cosmos-shade2: linear-gradient(
        var(--spark-color-gradient-degree, 45deg),
        #3e0083,
        #020e37
    );

    --spark-color-white: #ffffff;
    --spark-color-black: #000000;

    --spark-color-error-natural: #f5c7c7;
    --spark-color-error-natural-inverse: #b13d4a;
    --spark-color-error-soft: #f88f8f;
    --spark-color-error-soft-inverse: #d55050;
    --spark-color-error: #ce0000;
    --spark-color-error-background: hsl(from var(--spark-color-error) h s 95%);
    --spark-color-error-background-inverse: hsl(
        from var(--spark-color-error-natural-inverse) h s 25%
    );

    --spark-color-warning-natural: #fff6cc;
    --spark-color-warning-natural-inverse: #ffeb92;
    --spark-color-warning-soft: #ffeb92;
    --spark-color-warning-soft-inverse: #ffe057;
    --spark-color-warning: #ffd100;
    --spark-color-warning-background-inverse: hsl(
        from var(--spark-color-warning-soft-inverse) h s 15%
    );
    --spark-color-warning-background: hsl(from var(--spark-color-warning) h s 90%);

    --spark-color-success-natural: #c2e5c2;
    --spark-color-success-natural-inverse: #006400;
    --spark-color-success-soft: #add2ad;
    --spark-color-success-soft-inverse: #5ca05c;
    --spark-color-success: #008a00;
    --spark-color-success-background: hsl(from var(--spark-color-success-natural) h s 90%);
    --spark-color-success-background-inverse: hsl(
        from var(--spark-color-success-natural-inverse) h s 10%
    );
}
