[project]
name = "argus-automatix"
authors = [{ name = "Anand Balakrishnan", email = "anandbala1597@gmail.com" }]
description = "Symbolic (weighted) automata monitors"
version = "0.3.4"
requires-python = ">=3.10"

dependencies = [
  "typing-extensions",
  "types-networkx",
  "jax~=0.4",
  "jaxtyping~=0.2",
  "numpy~=1.26",
  "equinox~=0.11",
  "networkx~=3.2",
  "lark~=1.2",
]

[project.optional-dependencies]
cuda = ["jax[cuda]~=0.4"]
polynomials = ["dd"]

[dependency-groups]
dev = [
  "black",
  "graphviz",
  "ipython",
  "isort",
  "mkdocs",
  "mkdocs-jupyter",
  "mkdocs-material",
  "mkdocstrings[python]",
  "mypy",
  "pytest",
  "ruff",
]
examples = ["matplotlib", "pydantic>=2.10.6", "scienceplots", "scipy>=1.15.2"]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.hatch.build.targets.wheel]
packages = ["src/automatix"]

[tool.pytest.ini_options]
addopts = "--import-mode=importlib"
testpaths = ["tests"]

[tool.mypy]
# ignore_missing_imports = true
show_error_codes = true

[tool.ruff]
line-length = 127

[tool.ruff.lint]
extend-select = ["E", "F", "W", "N", "B", "ANN", "PYI", "I"]
extend-ignore = ["F722"]

[tool.ruff.lint.extend-per-file-ignores]
"*.py" = ["B905", "E203", "E501", "W291", "W293"]
"*.pyi" = ["B", "E501", "E701"]

[tool.pyright]
include = ["src", "examples"]
pythonVersion = "3.10"
pythonPlatform = "All"
reportUnknownMemberType = false
reportUnknownParameterType = false
reportUnknownVariableType = false
reportUnknownArgumentType = false
reportAny = false
