site_name: mcpconn
site_url: https://2796gaurav.github.io/mcpconn
repo_url: https://github.com/2796gaurav/mcpconn
repo_name: 2796gaurav/mcpconn
edit_uri: edit/main/docs/

theme:
  name: material
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.top
    - search.suggest
    - search.highlight
    - content.tabs.link
    - content.code.annotation
    - content.code.copy
  language: en
  palette:
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: black
      accent: blue 
      toggle:
        icon: material/weather-night
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate 
      primary: black
      accent: blue
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode

plugins:
  - search

extra_css:
  - stylesheets/extra.css

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - attr_list
  - md_in_html

nav:
  - Home: index.md
  - 'Getting Started': 'getting-started.md'
  - 'Core Concepts': 'core-concepts.md'
  - 'Using Guardrails': 'guardrails.md'
  - 'API Reference': 'api-reference.md'
  - 'About':
    - 'License': 'license.md'
    - 'Code of Conduct': 'code-of-conduct.md' 