[build-system]
requires = ["maturin>=1.2,<2.0"]
build-backend = "maturin"

[tool.poetry]
name = "uboxcars_py"
version = "15.0.0"
description = "Python bindings for the Rocket League replay parser uboxcars."
authors = ["Justus K <justus.k@pm.me>", "Matthew Mage <sciguymjm@gmail.com>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/SaltieRL/BoxcarWrapper"
classifiers = [
    "Intended Audience :: Developers",
    "Operating System :: MacOS",
    "Operating System :: Microsoft :: Windows",
    "Operating System :: POSIX :: Linux",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Programming Language :: Python",
    "Programming Language :: Rust",
]

[tool.poetry.dependencies]
python = "^3.7"

[tool.poetry.group.dev.dependencies]
pytest = "^7"
wheel = "*"
pytest-runner = "*"
pytest-benchmark = "^4"
maturin = "1.*"

[[tool.poetry.packages]]
include = "uboxcars_py"

