[project]
name = "yt-api-wrapper"
version = "1.0.3"
description = "A YouTube web scraper/wrapper for fetching video metadata and search results."
authors = [
    { name="isa-programmer", email="isaprogrammer@proton.me" }
]
readme = "README.md"
license = {text = "MIT"}
requires-python = ">=3.8"

dependencies = [
    "requests>=2.25.0",
]

[project.optional-dependencies]
dev = [
    "pytest",
    "mypy",
    "black",
    "isort"
]

orjson = [
    "orjson>=3.6.8"
]

[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[tool.setuptools.packages.find]
where = ["."]
