:root {
    --sd-button-border-width: 2px;
}

html[data-theme='light'] {
    --sd-color-primary: var(--pst-color-primary);
    --sd-color-secondary: var(--pst-color-secondary);
    --sd-color-success: var(--pst-color-success);
    --sd-color-info: var(--pst-color-info);
    --sd-color-warning: var(--pst-color-warning);
    --sd-color-danger: var(--pst-color-danger);
    --sd-color-light: var(--pst-color-light);
    --sd-color-muted: var(--pst-color-muted);
    --sd-color-dark: var(--pst-color-dark);
    --sd-color-primary-highlight: var(--pst-color-primary-highlight);
    --sd-color-secondary-highlight: var(--pst-color-secondary-highlight);
    --sd-color-success-highlight: var(--pst-color-success-highlight);
    --sd-color-info-highlight: var(--pst-color-info-highlight);
    --sd-color-warning-highlight: var(--pst-color-warning-highlight);
    --sd-color-danger-highlight: var(--pst-color-danger-highlight);
    --sd-color-light-highlight: var(--pst-color-light-highlight);
    --sd-color-muted-highlight: var(--pst-color-muted-highlight);
    --sd-color-dark-highlight: var(--pst-color-dark-highlight);
    --sd-color-primary-text: var(--pst-color-primary-text);
    --sd-color-secondary-text: var(--pst-color-secondary-text);
    --sd-color-secondary-text-outline: var(--pst-color-text-base);
    --sd-color-success-text: var(--pst-color-success-text);
    --sd-color-info-text: var(--pst-color-info-text);
    --sd-color-warning-text: var(--pst-color-warning-text);
    --sd-color-warning-text-outline: hsl(from var(--pst-color-warning) h s 25%);
    --sd-color-danger-text: var(--pst-color-danger-text);
    --sd-color-light-text: var(--pst-color-light-text);
    --sd-color-muted-text: var(--pst-color-muted-text);
    --sd-color-dark-text: var(--pst-color-dark-text);
    --sd-color-primary-bg: var(--pst-color-primary);
    --sd-color-primary-bg-text: var(--pst-color-primary-text);

    --sd-color-shadow: var(--pst-color-shadow);
    --sd-color-card-border: var(--pst-color-border);
    --sd-color-card-border-hover: var(--pst-color-primary-highlight);
    --sd-color-card-background: var(--pst-color-surface);
    --sd-color-card-text: var(--pst-color-text-base);
    --sd-color-card-header: var(--pst-color-surface);
    --sd-color-card-footer: var(--pst-color-surface);
    --sd-color-tabs-label-active: var(--pst-color-primary-highlight);
    --sd-color-tabs-label-hover: var(--pst-color-primary-highlight);
    --sd-color-tabs-label-inactive: var(--pst-color-muted);
    --sd-color-tabs-underline-active: var(--pst-color-primary-highlight);
    --sd-color-tabs-underline-hover: var(--pst-color-primary-highlight);
    --sd-color-tabs-underline-inactive: transparent;
    --sd-color-tabs-overline: var(--pst-color-border);
    --sd-color-tabs-underline: var(--pst-color-border);
    --sd-fontsize-tabs-label: 1rem;
    --sd-fontsize-dropdown-title: 1rem;
    --sd-fontweight-dropdown-title: 500;

    --sd-color-primary-bg: var(--pst-color-primary-bg);
    --sd-color-primary-bg-text: var(--pst-color-text-base);
    --sd-color-secondary-bg: var(--pst-color-secondary-bg);
    --sd-color-secondary-bg-text: var(--spark-color-text-base);
    --sd-color-success-bg: var(--pst-color-success-bg);
    --sd-color-success-bg-text: var(--pst-color-success-text);
    --sd-color-info-bg: var(--pst-color-info-bg);
    --sd-color-info-bg-text: var(--pst-color-info-text);
    --sd-color-warning-bg: var(--pst-color-warning-bg);
    --sd-color-warning-bg-text: var(--pst-color-warning-text);
    --sd-color-danger-bg: var(--pst-color-danger-bg);
    --sd-color-danger-bg-text: var(--pst-color-danger-text);
    --sd-color-light-bg: var(--pst-color-light-bg);
    --sd-color-light-bg-text: var(--pst-color-light-text);
    --sd-color-muted-bg: var(--pst-color-muted-bg);
    --sd-color-muted-bg-text: var(--pst-color-muted-text);
    --sd-color-dark-bg: var(--pst-color-dark-bg);
    --sd-color-dark-bg-text: var(--pst-color-dark-text);
}

html[data-theme='dark'] {
    --sd-color-primary: var(--pst-color-primary);
    --sd-color-secondary: var(--pst-color-secondary);
    --sd-color-success: var(--pst-color-success);
    --sd-color-info: var(--pst-color-info);
    --sd-color-warning: var(--pst-color-warning);
    --sd-color-danger: var(--pst-color-danger);
    --sd-color-light: var(--pst-color-light);
    --sd-color-muted: var(--pst-color-muted);
    --sd-color-dark: var(--pst-color-dark);
    --sd-color-primary-highlight: var(--pst-color-primary-highlight);
    --sd-color-secondary-highlight: var(--pst-color-secondary-highlight);
    --sd-color-success-highlight: var(--pst-color-success-highlight);
    --sd-color-info-highlight: var(--pst-color-info-highlight);
    --sd-color-warning-highlight: var(--pst-color-warning-highlight);
    --sd-color-danger-highlight: var(--pst-color-danger-highlight);
    --sd-color-light-highlight: var(--pst-color-light-highlight);
    --sd-color-muted-highlight: var(--pst-color-muted-highlight);
    --sd-color-dark-highlight: var(--pst-color-dark-highlight);
    --sd-color-primary-text: var(--pst-color-primary-text);
    --sd-color-secondary-text: var(--pst-color-secondary-text);
    --sd-color-secondary-text-outline: var(--pst-color-secondary);
    --sd-color-success-text: var(--pst-color-success-text);
    --sd-color-info-text: var(--pst-color-info-text);
    --sd-color-warning-text: var(--pst-color-warning-text);
    --sd-color-warning-text-outline: var(--pst-color-warning);
    --sd-color-danger-text: var(--pst-color-danger-text);
    --sd-color-light-text: var(--pst-color-light-text);
    --sd-color-muted-text: var(--pst-color-muted-text);
    --sd-color-dark-text: var(--pst-color-dark-text);
    --sd-color-shadow: var(--pst-color-shadow);
    --sd-color-card-border: var(--pst-color-border);
    --sd-color-card-border-hover: var(--pst-color-primary-highlight);
    --sd-color-card-background: var(--pst-color-surface);
    --sd-color-card-text: var(--pst-color-text-base);
    --sd-color-card-header: var(--pst-color-surface);
    --sd-color-card-footer: var(--pst-color-surface);
    --sd-color-tabs-label-active: var(--pst-color-primary-highlight);
    --sd-color-tabs-label-hover: var(--pst-color-primary-highlight);
    --sd-color-tabs-label-inactive: var(--pst-color-muted);
    --sd-color-tabs-underline-active: var(--pst-color-primary-highlight);
    --sd-color-tabs-underline-hover: var(--pst-color-primary-highlight);
    --sd-color-tabs-underline-inactive: transparent;
    --sd-color-tabs-overline: var(--pst-color-border);
    --sd-color-tabs-underline: var(--pst-color-border);
    --sd-fontsize-tabs-label: 1rem;
    --sd-fontsize-dropdown-title: 1rem;
    --sd-fontweight-dropdown-title: 500;

    --sd-color-primary-bg: var(--pst-color-primary-bg);
    --sd-color-primary-bg-text: var(--pst-color-text-base);
    --sd-color-secondary-bg: var(--pst-color-secondary-bg);
    --sd-color-secondary-bg-text: var(--pst-color-text-base);
    --sd-color-success-bg: var(--pst-color-success-bg);
    --sd-color-success-bg-text: var(--pst-color-success-text);
    --sd-color-info-bg: var(--pst-color-info-bg);
    --sd-color-info-bg-text: var(--pst-color-info-text);
    --sd-color-warning-bg: var(--pst-color-warning-bg);
    --sd-color-warning-bg-text: var(--pst-color-warning-text);
    --sd-color-danger-bg: var(--pst-color-danger-bg);
    --sd-color-danger-bg-text: var(--pst-color-danger-text);
    --sd-color-light-bg: var(--pst-color-light-bg);
    --sd-color-light-bg-text: var(--pst-color-light-text);
    --sd-color-muted-bg: var(--pst-color-muted-bg);
    --sd-color-muted-bg-text: var(--pst-color-muted-text);
    --sd-color-dark-bg: var(--pst-color-dark-bg);
    --sd-color-dark-bg-text: var(--pst-color-dark-text);
}
