[tool.poetry]
name = "chemged"
version = "0.1.1"
description = "Package calculating the approximate graph edit distance between chemicals"
authors = ["James Wellnitz <wellnitz.james@gmail.com>"]
maintainers = [
    "James Wellnitz <wellnitz.james@gmail.com>"
]
readme = "README.md"
license = "MIT"
repository = "https://github.com/molecularmodelinglab/ChemGED"
classifiers = [
    "Natural Language :: English",
    "Operating System :: OS Independent"
]
packages = [
    { include = "chemged", from = "src" },
]
requires-poetry = ">=2.0"

[tool.poetry.requires-plugins]
poetry-plugin-export = ">=1.8"

[tool.poetry.dependencies]
python = ">=3.11,<4.0"
rdkit = "^2024.9.5"
scipy = "^1.15.3"
numpy = "^2.0.0"
networkx = "^3.5"
tqdm = "^4.66.4"

[tool.poetry.group.dev]
optional = true

[tool.poetry.group.dev.dependencies]
pre-commit = "~3.8.0"
mypy = "^1.8.0"
poetry = "^2.1.3"
poetry-bumpversion = "^0.3.1"
ruff = "^0.5.5"

[tool.poetry.group.test]
optional = true

[tool.poetry.group.test.dependencies]
matplotlib = "^3.9.3"
pytest = "~7.2.0"
pytest-cov = "~4.0.0"
pytest-html = "^3.2.0"

[tool.poetry.group.docs]
optional = true

[tool.poetry.group.docs.dependencies]
sphinx = "^7.1.2"
sphinx_rtd_theme = "^1.3.0"
sphinx-markdown-builder = "^0.6.8"

[[tool.poetry.source]]
name = "PyPI"
priority = "primary"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.poetry_bumpversion.file."docs/conf.py"]
search = 'release = "{current_version}"'
replace = 'release = "{new_version}"'

[tool.poetry_bumpversion.file."src/chemged/__init__.py"]
search = '__version__ = "{current_version}"'
replace = '__version__ = "{new_version}"'

[[tool.mypy.overrides]]
module = ["untyped_package.*"]
follow_untyped_imports = true

[tool.mypy]
files = ["src"]

[tool.coverage.report]
fail_under = 75

[tool.pytest.ini_options]
addopts = """
    --color=yes
    --html=test-results/unit-tests-results.html
"""
markers = [
    "unit: marks tests as unit tests",
    "functional: marks test as functional tests",
]
testpaths = ["tests"]

[tool.ruff]
lint.select = [
    "F",
    "E",
    "W",
    "I001",
    "I002",
    "B",
    "D"
]
src = ["src", "tests"]
line-length = 99
lint.ignore = [
    "D400",
    "D401",
    "D200"
]

[tool.ruff.lint.pydocstyle]
convention = "numpy"

[tool.ruff.lint.isort]
lines-after-imports = 2
